@page
@model AccessDeniedModel
@{
    ViewData["Title"] = "Access denied";
}

<section class="contact_section layout_padding">
    <div class="d-flex align-items-center justify-content-center vh-25">
        <div class="text-center">
            <h1 class="display-1 fw-bold">403</h1>
            <p class="fs-3"> <span class="text-danger">Opps!</span> Access denied.</p>
            <p class="lead">
                You don't have permission to access this page.
            </p>
            <a href="/" class="btn btn-primary">Back to homepage</a>
        </div>
    </div>
</section>