@page
@model LogoutModel
@{
    ViewData["Title"] = "Log out";
}

<header>
    @{
        if (!User.Identity?.IsAuthenticated ?? false)
        {
            <section class="contact_section layout_padding">
                <div class="d-flex align-items-center justify-content-center vh-25">
                    <div class="text-center">
                        <h1 class="display-1 fw-bold">200</h1>
                        <p class="fs-3">
                            <span class="text-info">Goodbye!</span> 
                            You are logged out.
                        </p>
                        <p class="lead">
                            You have successfully logged out.
                        </p>
                        <a asp-area=""
                           asp-page="/Index"
                           class="btn btn-primary">Back to homepage</a>
                    </div>
                </div>
            </section>
        }
    }
</header>
