@page
@using Hutech.Application.Models
@model AddModel
@{
    ViewData["Title"] = "Add";
}

<section class="contact_section layout_padding">
    <div class="container-fluid">
        <div class="col-md-5 col-lg-4 offset-md-1 offset-lg-2">
            <div class="form_container">
                <div class="heading_container">
                    <h2>
                        Add new product
                    </h2>
                </div>
                <form method="post"
                      enctype="multipart/form-data"
                      asp-page-handler="Add"
                      asp-antiforgery="true">
                    <div>
                        <input type="text" placeholder="Product name" name="Name"/>
                    </div>
                    <div>
                        <input step="1" min="0" type="number" placeholder="Price" name="Price"/>
                    </div>
                    <div>
                        <input type="file" placeholder="Image" name="Image"/>
                    </div>
                    <div>
                        <input type="text" class="message-box" placeholder="Description" name="Description"/>
                    </div>
                    <div>
                        <select class="w-100" style="height: 50px;" name="CategoryId">
                            @foreach (var item in (ViewData["Categories"] as List<CategoryResponse>)!)
                            {
                                <option value="@item.Id">@item.Name</option>
                            }
                        </select>
                    </div>
                    <div class="d-flex ">
                        <button>
                            ADD
                        </button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</section>