@page
@model AddModel
@{
    ViewData["Title"] = "Add";
}

<section class="contact_section layout_padding">
    <div class="container-fluid">
        <div class="col-md-5 col-lg-4 offset-md-1 offset-lg-2">
            <div class="form_container">
                <div class="heading_container">
                    <h2>
                        Add new product
                    </h2>
                </div>
                <form method="post"
                      enctype="multipart/form-data"
                      asp-antiforgery="true">
                    <div>
                        <input type="text" placeholder="Name" asp-for="ProductRequest.Name"/>
                        <span asp-validation-for="ProductRequest.Name"class="text-danger"></span>
                    </div>
                    <div>
                        <input step="1" min="0" type="number" placeholder="Price" asp-for="ProductRequest.Price" />
                        <span asp-validation-for="ProductRequest.Price" class="text-danger"></span>
                    </div>
                    <div>
                        <input type="file" placeholder="Image" asp-for="ProductRequest.Image" />
                        <span asp-validation-for="ProductRequest.Image" class="text-danger"></span>
                    </div>
                    <div>
                        <input type="text"
                               class="message-box"
                               placeholder="Description"
                               asp-for="ProductRequest.Description" />
                        <span asp-validation-for="ProductRequest.Description" class="text-danger"></span>
                    </div>
                    <div>
                        <select class="w-100" style="height: 50px;" asp-for="ProductRequest.CategoryId">
                            @foreach (var item in Model.Categories)
                            {
                                <option value="@item.Id">@item.Name</option>
                            }
                        </select>
                    </div>
                    <div class="d-flex ">
                        <button>
                            ADD
                        </button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</section>

@section scripts{
    <partial name="_ValidationScriptsPartial" />
}