@page
@model IndexModel
@{
    ViewData["Title"] = "Homepage";
}

<section class="about_section layout_padding ">
    <div class="container">
        <div class="row">
            <div class="col-md-6">
                <div class="detail-box">
                    <div class="heading_container">
                        <h2>
                            About Our Company
                        </h2>
                    </div>
                    <p align="justify">
                        Hutech Chocolate is a special gift for your loved ones. We have a variety of chocolate products with different flavors. We are committed to bringing you the best quality products.
                    </p>
                    <a asp-page="Menu">
                        <span>
                            Read More
                        </span>
                        <img loading="lazy" src="images/color-arrow.png" alt="arrow">
                    </a>
                </div>
            </div>
            <div class="col-md-6">
                <div class="img-box">
                    <img loading="lazy" src="images/about-img.png" alt="about">
                </div>
            </div>
        </div>
    </div>
</section>

<section class="offer_section layout_padding">
    <div class="container">
        <div class="box">
            <div class="detail-box">
                <h2>
                    Offers on chocolates
                </h2>
                <h3>
                    Get 5% Offer <br>
                    any Chocolate items
                </h3>
                <a asp-page="Menu">
                    Buy Now
                </a>
            </div>
            <div class="img-box">
                <img loading="lazy" src="images/offer-img.png" alt="offer">
            </div>
        </div>
        <div class="btn-box">
            <a asp-page="Menu">
                <span>See More</span>
                <img loading="lazy" src="images/color-arrow.png" alt="arrow">
            </a>
        </div>
    </div>
</section>