@page
@using Microsoft.IdentityModel.Tokens
@model MenuModel
@{
    ViewData["Title"] = "Menu";
}

<section class="chocolate_section layout_padding">
    @if (!Model.Products.ToList().Any())
    {
        <div class="container">
            <div class="heading_container">
                <h2 class="text-danger">
                    Sorry
                </h2>
                <p>
                    We don't have any chocolate products at the moment. Please come back later.
                </p>
                <a class="btn bg-dark text-white"
                   asp-page="Index">
                    Back to Homepage
                </a>
            </div>
        </div>
    }
    else
    {
        <div class="container">
            <div class="heading_container">
                <h2>
                    Our chocolate products
                </h2>
                <p>
                    We have a variety of chocolate products with different flavors. We are committed to bringing you the best quality products.
                </p>
            </div>
        </div>
        <div class="container">
            <div class="chocolate_container">
                @foreach (var products in Model.Products)
                {
                    <div class="box">
                        <div class="img-box">
                            @if(products.Image.IsNullOrEmpty())
                            {
                                <img asp-append-version="true"
                                     src="https://fakeimg.pl/100x100?text=No+image"
                                     loading="lazy"
                                     alt="Unknown image">
                            }
                            else
                            {
                                <img asp-append-version="true"
                                     src="./images/@products.Image"
                                     loading="lazy"
                                     alt="@products.Name"
                                     width="100"
                                     height="100">
                            }
                        </div>
                        <div class="detail-box">
                            <h6>
                                @products.Name <span>Chocolate</span>
                            </h6>
                            <h5>
                                @if(products.Price == 0)
                                {
                                    <span class="text-info">Fee</span>
                                }
                                else
                                {
                                    @products.Price.ToString("C2")
                                }
                            </h5>
                            @if (products.Status == 0)
                            {
                                <a href="">BUY NOW</a>
                            }
                            else
                            {
                                <span class="text-danger">OUT OF STOCK</span>
                            }
                        </div>
                    </div>
                }
            </div>
        </div>
    }
</section>